@media only screen and (min-width: 500px){
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    max-width: 640px;
    margin: 1rem auto;
    border: 10px;
    padding: 10px;
    background: black;
    color: white;
}
main {
    max-width: 640px;
    margin: 1rem auto;
    border: 10px;
    padding: 10px;
    background: rgb(89, 189, 220);
} 
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 10px;
    padding: 10px;
    background: rgb(89, 189, 220);
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
section {
    padding: 10px;
    background: white;
}
}