@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif+Toto:wght@600&display=swap');
@import url('https://coolors.co/35425a-fec67e-993a2e-3f5788-f1ede4');

:root {
    --heading-font: 'Lato';
    --body-font: 'Noto' Serif, Toto;
    --primary-color: #35425a;
    --secondary-color: #fec67e;
    --accent1-color: #993A2E;
    --accent2-color: #3F5788;
    --accent3-color: #f1ede4;
}
body {
    background: var(--accent3-color);
    margin: 0;
    font-family:var(--heading-font);
}
.search-bar {
    display:flex;
    gap: .25rem;
}
#search {
    padding-right: 20px;
}
label {
    display: flex;
}
input {
    font-size: 1rem;
}
nav {
    max-width: 100%;
    display: flex;
    position: sticky; top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent1-color);
    z-index: 1;
    border-bottom: solid var(--primary-color);
}
nav a {
    font-size: 3vw;
    padding: 2px;
    color: white;
}
header {
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 3vw;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
#today,
#time {
    
}
#logo-container {
    display: flex;
}
#logo-container p{
    color: white;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    font-size: 3vw;
}
#logo {
    max-width: 12%; height: auto;
    z-index: 1;    
}
#banner {
    max-width: 100%;
    align-items: center; 
    background: var(--accent2-color);
    text-align: center;
    margin-bottom: 0;
}
#banner > a {
    color: var(--accent3-color);
    font-weight: bolder;
    font-size: 2vw;
}
a {
    color: var(--accent3-color);
    font-family: var(--body-font);
}
a:link {
    text-decoration: none;
}
main {
    max-width: 100%;
    margin: 0 auto;
    font-size: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main-grid {  
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    
}
#hero-img {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
#home-title{
    position: absolute; top: 3%; left: 10%;
    background-color: #000;
    color: #fff;
    font-family: var(--heading-font);
    text-align: center;
	padding: .5rem;
	opacity: 0.65;
    padding: 5px;
}
#home-title p {
    font-weight: 600;
    font-size: 4vw;
}
#join,
#login {
    padding: 5px;
    position: absolute; left: 30%;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 3vw;
}
#login {
    left: 50%;
}
.card-img {
    max-width: 100%;
    text-align: center;
    border: .8vw solid var(--accent2-color);
    margin-top: 30px;
    box-shadow: 5px 5px 10px #6f7364;
}
.card {
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #7e72615f;
    height: auto;
}
.card > p {
    text-align: center;
}
#events {
    grid-row: 2/3;
}
#spotlights {
    grid-row: 4/5;
}
#weather {
    grid-row: 6/7;
}
#resources {
    grid-row: 8/9;
}
.current-events {
    grid-row: 1/2;
} 
.weather-card {
    grid-row: 5/6;
}
 .spotlights {
    grid-row: 3/4;    
}
.resource-card {
    grid-row: 7/8;
}
#paragraph {
    grid-row: 9/10;
    padding-left: 5px;
} 
p {
    font-size: 5vw;
}
h1 {
    margin: auto;
    justify-content: center;
    padding: 10px;
    color: var(--accent3-color);
}
h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: auto;
    text-align: center;
}
h3 {
    margin: 0;
    background: var(--secondary-color);
    text-align: center;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    font-size: 5vw;
}
.index-list {
    display: inline;
}
li {
    list-style-type: none;
    text-align: center;
    font-size: 5vw;
    padding: 0;
    margin-left: -5px;
}
footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    color: white;
    background-color: var(--accent2-color);
}
.highlight {
    color: yellow;
}
#social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; 
    gap: 10px;
}


/* ---------------(Responsive Menu)-------------------------------------------------------------------------- */
menu {
    display: flex;
}
#hamb-menu {
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: var(--accent2-color);
	position: fixed;
	top: 9%;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 10;
	overflow: hidden;
    border-radius: 15px;
	box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
}
.menu a {    
	display: block;
	text-decoration: none;
	text-align: center;
	width: 12rem;
	padding: 1rem;
	color: white;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
li a.menu-item {
	display: none;    
}

li a.open {    
    font-size: 140%;
    max-width: 100%;
    padding-right: 20px;
	display: flex;
}
#menu-button {
    max-width: 60px;

}

/* --------DISCOVER PAGE----------- */

#discover-grid {
    background-color: var(--secondary-color);
}
#sidebar {
    padding: 10px;
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
    font-size: 18px;
}   
.sidebar p {
    font-size: 3vw;
}
.statistics {
    margin-top: 20px;
}
.population p{
    font-weight: bolder;
}
.pie-chart {
    width: 60%;
}
#d-events {
    padding: 0;
    margin: 0 auto;
}
.visitors {
    margin-top: 30px;
    margin-bottom:20px;
    font-size: 26px;
}
.page {
    text-align: center;
    font-size: 4vw;
    font-weight: 800;
    text-shadow: 3px 5px var(--accent3-color);
}
.align {
    font-size: 4vw;
    color: var(--primary-color);
    text-decoration: underline;
    text-shadow: 1px 1px var(--accent3-color);
}
.caption1,
.caption2,
.caption3,
.caption4 {
    margin: 0 auto;
    margin-top: -10px;
    font-size: 3vw;
}
.img1,
.img2,
.img3,
.img4 {
    margin: 0 auto;
    width: 100%;
    background: black;
    animation: fade 15s;
}
.events-list {
    list-style-type: square;
    padding: 30px;
}
.source {
    font-size: 12px;
}

