
@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Poppins:ital,wght@1,500&display=swap');
@import url('https://coolors.co/3b4367-fbf7ef-fdd8c5-51372a-7e7261');

:root {
    --heading-font: "Anybody";
    --primary-color: #fbf7ef;
    --secondary-color: #3b4367;
    --accent1-color: #7e7261;
    --accent2-color: #fdd8c5;
    --accent3-color: #51372a;
}
body {
    background: var(--primary-color);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    font-family:var(--heading-font);
}
nav {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--accent1-color);
}
nav a{
    padding: 20px;
    color: white;
}
a {
    color: var(--accent3-color);
    padding: 5px;
    font: var(--paragraph-font);
    text-align: center;
}
main {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#grid {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
picture img {
    width: 100%; height: auto;
}
.hero img {
    position: relative;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
#hero-title {
    position: absolute; top: 5%; left: 10%;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: .5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}
#hero-title p {
    margin: 0;
    padding: .25rem;
    font-weight: 600;
    font-size: 6vw;
    font-family: var(--heading-font);
}
header {
    height: 100px;
    display: flex;
    background-color: #3B4367;
    color: var(--accent2-color);
}
#profile {
    box-shadow: 10px 5px 10px 5px #3b4367;
    border-radius: 15px;
}
.card {
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #7e72615f;
}
#information p {
    text-align: center;
    justify-content: center;
    align-items: center;
}
#project a {
    padding: 35px;
}
h1 {
    margin: auto;
    justify-content: center;
    padding: 10px;
}
h2 {
    margin: auto;
}
.h_line {
    border-bottom: 1px solid #7e7261;
    width: 100%;
    margin: auto;
    height: .05px;
}
h3 {
    margin: 0;
    background: var(--accent1-color);
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}
li {
    list-style-type: none;
}
li a{
    clear: left;
}
footer {
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);

}
.highlight {
    color: yellow;
}
iframe {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}


/* ---------------(Responsive Menu)-------------------------------------------------------------------------- */
menu {
    display: flex;
}
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}
#hamb-menu {
    align-items: center;
    text-align: center;
    font-size: 140%;
    flex-direction: column;
    background: var(--primary-color);
	position: fixed;
	top: 9%;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 10;
	overflow: hidden;
    border-radius: 15px;
	box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
}
.menu a {
	display: block;
	text-decoration: none;
	text-align: center;
	width: 12rem;
	padding: 1rem;
	color: white;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 0.5s ease-in-out;
}
li a.menu-item {
	display: none;
}

li a.open {
    max-width: 100%;
    padding-right: 20px;
	display: flex;
}
#menu-button {
    max-width: 60px;

}

/* ----------------------Contact Form-------------------------- */

#form {
    box-sizing: border-box;
    width: 20%;
    padding: 0 3%;
    min-height: 20rem;
    margin-left: 1%;
}
form {
	grid-gap: 0.35rem;
	grid-template-columns: 1fr 1fr;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--secondary-color);
    padding: 0.5rem 2%;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    font-size: 2vw;
    text-align: left;
}
form label.top input, form label.top select,
form label.hearts input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color:#555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
#form h1 {
	font-size: 3vw;
	text-align: center;
}
label,
input,
button {
	padding: 0.35rem;
}
label {
    text-align: right;
}
input:focus {
    background-color: #ddd;
}
button {
    grid-column: 1/3;
}
/* #keyphrase:invalid {
	background-color: #ffccbb;
	animation: shaketext 500ms;
}
input:valid + input::before {
	content: "👍🏼";
} */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}
#heart {
    font-size: 2vw;
}
#rating {
	color: blue;
}
.hearts {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.hearts > label {
	color: red;
	width: 5px;
	height: 10px;
	font-size: 2rem;
    margin-right: 45px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.hearts > label:hover {
	color: #000;
}

.hearts > label::before {
	content: "\2661";
}
.hearts input:checked ~ label::before {
	content: "\1f49d";
}
form button.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 20rem;
}